:root{

    /* Color */

    /* Black & White */

    --black:#000000;
    --white:#ffffff;

    /* Palette*/

    --blueOne:#E6FDFD;
    --blueTwo:#98D2D2;
    --blueThree:#5DA7A7;
    --blueFour:#317D7D;
    --blueFive:#125252;

    /* Tones */

    --toneOne:#F8F9FA;
    --toneTwo:#E9ECEF;
    --toneThree:#DEE2E6;
    --toneFour:#CED4DA;
    --toneFive:#ADB5BD;
    --toneSix:#6C757D;
    --toneSeven:#495057;
    --toneEight:#343A40;
    --toneNine:#212529;
    --toneTen: #0E0E0E;

    /* Background */

    --background:#f5f5f5;
    --backgroundOne:#1252525b;

    /* Shadows */

    --boxShadow:4px 4px 12px 1px var(--background);

    /* Variety */

    --varietyOne:#16f7ff15;
    --varietyTwo:#8C82E815;
    --varietyThree:#17A1FA15;
    --varietyFour:#FEB93915;
    --varietyFive:#F5192415;
    --varietySix:#9647FF15;
    --varietySeven:#62ADAD15;
    --varietyEight:#15FF1D15;

    --colorVarietyOne:#5DA7A7;
    --colorVarietyTwo:#8C82E8;
    --colorVarietyThree:#17A1FA;
    --colorVarietyFour:#FEB939;
    --colorVarietyFive:#F51924;
    --colorVarietySix:#9647FF;
    --colorVarietySeven:#62ADAD;
    --colorVarietyEight:#15FF1D;

    /* 5DA7A7
    9647FF
    FEB939
    62ADAD
    15FF1D */
    
}

