@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{

    /* Font Style */

    --font-family:"Quicksand", serif;

    /* font Size */

    --lightSize:0.8rem;
    --regularSize:0.9rem;
    --mediumSize:1rem;
    --xMediumSize:1.1rem;
    --largeSize:1.3rem;
    --xLargeSize:1.8rem;
    --xxLargeSize:2.7rem;

    /* font Weight */

    --lightWeight:300;
    --regularWeight:400;
    --mediumWeight:500;
    --semiboldWeight:600;
    --boldWeight:700;

}
