<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipoBlue.svg" sizes="16x16"/>
    <link rel="icon" href="../img/isotipoBlue.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipoBlue.svg" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/application.css">
</head>
<body>

    <!-- Header -->

    <header class="header">

        <div class="containerHeader">

            <!-- Logo -->

            <a href="#" class="isotipoIcon">
                <img src="../img/isotipoBlue.svg" alt="Isotipo" class="isotipo">
            </a>

            <!-- Imagotipo -->

            <a href="#" class="imagotipoIcon">
                <img src="../img/imagotipoMediumBlue.png" alt="Imagotipo icon" class="imagotipo">
            </a>

            <!-- Navbar -->

            <nav class="navbar">
                <ul class="menu">
                    <li class="optionsLink optionsLink1">
                        <div class="item">
                            <p class="optionItem">Home</p>
                            <img src="../img/arrowDown.svg" alt="Arrow Icon" class="iconArrow">
                        </div>
                        <nav class="navbarMenuItem">
                            <div class="containerItem">
                                <ul class="subitem">
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/dashboard.svg" alt="Icon" class="linkIcon">
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/opportunities.svg" alt="Icon" class="linkIcon">
                                            Opportunities
                                        </a>
                                    </li>
                                </ul>
                                <div class="imageItem">
                                    <img src="../img/designTools.gif" alt="Illustration" class="linkImage">
                                </div>
                            </div>
                        </nav>
                    </li>
                    <li class="optionsLink optionsLink2">
                        <div class="item">
                            <p class="optionItem">Create</p>
                            <img src="../img/arrowDown.svg" alt="Arrow Icon" class="iconArrow">
                        </div>
                        <nav class="navbarMenuItem">
                            <div class="containerItem">
                                <ul class="subitem">
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/editor.svg" alt="Icon" class="linkIcon">
                                            Editor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/templates.svg" alt="Icon" class="linkIcon">
                                            Templates
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/management.svg" alt="Icon" class="linkIcon">
                                            Management
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/export.svg" alt="Icon" class="linkIcon">
                                            Export
                                        </a>
                                    </li>
                                </ul>
                                <div class="imageItem">
                                    <img src="../img/designerGirl.gif" alt="Illustration" class="linkImage">
                                </div>
                            </div>
                        </nav>
                    </li>
                    <li class="optionsLink optionsLink3">
                        <div class="item">
                            <p class="optionItem">Explore</p>
                            <img src="../img/arrowDown.svg" alt="Arrow Icon" class="iconArrow">
                        </div>
                        <nav class="navbarMenuItem">
                            <div class="containerItem">
                                <ul class="subitem">
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/projects.svg" alt="Icon" class="linkIcon">
                                            Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/blog.svg" alt="Icon" class="linkIcon">
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                                <div class="imageItem">
                                    <img src="../img/penTool.gif" alt="Illustration" class="linkImage">
                                </div>
                            </div>
                        </nav>
                    </li>
                    <li class="optionsLink optionsLink4">
                        <div class="item">
                            <p class="optionItem">Creative Fields</p>
                            <img src="../img/arrowDown.svg" alt="Arrow Icon" class="iconArrow">
                        </div>
                        <nav class="navbarMenuItem">
                            <div class="containerItem">
                                <ul class="subitem">
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/graphicDesign.svg" alt="Icon" class="linkIcon">
                                            Graphic Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/uiDesign.svg" alt="Icon" class="linkIcon">
                                            UI Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/uxDesign.svg" alt="Icon" class="linkIcon">
                                            UX Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/photography.svg" alt="Icon" class="linkIcon">
                                            Photography
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/illustration.svg" alt="Icon" class="linkIcon">
                                            Illustration
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/motionDesign.svg" alt="Icon" class="linkIcon">
                                            Motion Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/3DDesign.svg" alt="Icon" class="linkIcon">
                                            3D Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/visualDesign.svg" alt="Icon" class="linkIcon">
                                            Visual Design
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/architecture.svg" alt="Icon" class="linkIcon">
                                            Architecture
                                        </a>
                                    </li>
                                </ul>
                                <div class="imageItem">
                                    <img src="../img/mobileUI-UX.gif" alt="Illustration" class="linkImage">
                                </div>
                            </div>
                        </nav>
                    </li>
                    <li class="optionsLink optionsLink5">
                        <div class="item">
                            <p class="optionItem">Support</p>
                            <img src="../img/arrowDown.svg" alt="Arrow Icon" class="iconArrow">
                        </div>
                        <nav class="navbarMenuItem">
                            <div class="containerItem">
                                <ul class="subitem">
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/feedback.svg" alt="Icon" class="linkIcon">
                                            Feedback
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/guides.svg" alt="Icon" class="linkIcon">
                                            Guides
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">
                                            <img src="../img/contact.svg" alt="Icon" class="linkIcon">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                                <div class="imageItem">
                                    <img src="../img/advancedCustomization.gif" alt="Illustration" class="linkImage">
                                </div>
                            </div>
                        </nav>
                    </li>

                    <div class="userBlock">

                        <!-- Register Modal -->

                        <div id="coverRegisterModal">

                            <!-- Here comes Background & Backdrop-filter -->

                        </div>

                        <div class="modalRegister">
                            <div class="closeRegisterBlock">
                                <img src="../img/closeWhite.svg" alt="" class="closeRegisterModal" id="iconRegisterClose">
                            </div>
                            <div class="displayRegister">

                                <div class="titleRegisterModal">
                                    <h3 class="greetingRegister">Welcome! Create your account to get started.</h3>
                                    <!-- <img src="img/imagotipoMediumWhiteBgTransparent.png" alt="Imagotipo" class="imagotipoRegister"> -->
                                </div>

                                <div class="registerBlock">
                                    <form class="registerContainer">
                                        <div class="formGroup">
                                            <label for="name">Name</label>
                                            <input type="text" id="registerName" name="name" placeholder="Enter your name" required>
                                        </div>

                                        <div class="formGroup">
                                            <label for="email">Email</label>
                                            <input type="email" id="registerEmail" name="email" placeholder="Enter your email" required>
                                        </div>

                                        <div class="formGroup">
                                            <label for="password">Password</label>
                                            <input type="password" id="registerPassword" name="password" placeholder="Enter your password" required>
                                        </div>

                                        <div class="formGroup">
                                            <label for="confirm-password">Repite your Password</label>
                                            <input type="password" id="confirmRegisterPassword" name="confirm-password" placeholder="Enter your password again" required>
                                        </div>

                                        <button type="submit" class="btnRegister">Register</button>
                                    </form>
                                </div>

                                <div class="ctsRegisterModal">
                                    <p class="sentence">If you already have an account. </p>
                                    <button class="goLogin">Login</button>
                                    <!-- <button class="closeModal">Return</button> -->
                                </div>

                            </div>

                            <section id="messageNewRegistration">

                                <!-- Here Registration Popup -->

                            </section>

                        </div>

                        <div class="linkUserIcon">
                            <button type="Submit" class="register openRegisterModal">Register</button>
                        </div>

                        <!-- Login Modal -->

                        <div id="coverLoginModal">

                            <!-- Here comes Background & Backdrop-filter -->

                        </div>

                        <div class="modalLogin">
                            <div class="closeLoginBlock">
                                <img src="../img/closeWhite.svg" alt="Close Icon" class="closeLoginModal" id="iconLoginClose">
                            </div>
                            <div class="displayLogin">

                                <div class="titleLoginModal">
                                    <h3 class="greetingLogin">Welcome back! Please log in to continue.</h3>
                                    <!-- <img src="img/imagotipoMediumWhiteBgTransparent.png" alt="Imagotipo" class="imagotipoLogin"> -->
                                </div>

                                <div class="loginBlock">
                                    <form class="loginContainer">


                                        <div class="formGroup">
                                            <label for="email">Email</label>
                                            <input type="email" id="loginEmail" name="email" placeholder="Enter your email" required>
                                        </div>

                                        <div class="formGroup">
                                            <label for="password">Password</label>
                                            <input type="password" id="loginPassword" name="password" placeholder="Enter your password" required>
                                        </div>



                                        <button type="submit" class="btnLogin">Login</button>
                                    </form>
                                </div>

                                <div class="ctsLoginModal">
                                    <p class="sentence">If you don't have an account yet. </p>
                                    <button class="goRegister">Register</button>
                                    <!-- <button class="closeModal">Return</button> -->
                                </div>

                            </div>

                            <div class="enterWays">
                                <p class="choice">  OR  </p>
                                <div class="ctasItem">
                                    <button type="submit" onclick="loginWithGoogle()" class="ctaItem btnGoogle">
                                        <img src="../img/gmailBlack.svg" alt="" class="item">
                                        <span class="span">Gmail</span>
                                    </button>
                                    <!-- <button id="logout">Cerrar sesión</button> -->
                                </div>

                            </div>

                            <div id="welcomeContainer">

                            <!-- Here Gmail Login Popup -->

                            </div>

                            <section id="messageNewLogin">

                                <!-- Here Login Popup -->

                            </section>

                        </div>

                        <div class="linkUserIcon">
                            <img src="../img/user.svg" alt="User Icon" class="iconUser openLoginModal">
                        </div>

                        <!-- <button id="logoutButton">Sign out</button> -->

                        <!-- Search Modal -->

                        <div id="coverModal">

                            <!-- Here comes Background & Backdrop-filter -->

                        </div>

                        <div class="modal">
                            <div class="closeBlock">
                                <img src="../img/closeWhite.svg" alt="" class="closeModal" id="iconClose">
                            </div>
                            <div class="display">

                                <div class="titleModal">
                                    <h3 class="greeting">Welcome to the Creative World of</h3>
                                    <img src="../img/imagotipoMediumWhiteBgTransparent.png" alt="Imagotipo" class="imagotipo">
                                </div>

                                <div class="searchBlock">
                                    <div class="searchContainer">
                                        <label for="search">

                                            <img alt="Magnify" class="magnify" src="img/magnify.svg">

                                        </label>

                                        <input type="search" id="search" placeholder="What creative world would you like to explore?">
                                    </div>
                                </div>

                                <div class="ctsModal">
                                    <button class="search">Search</button>
                                    <!-- <button class="closeModal">Return</button> -->
                                </div>

                            </div>
                        </div>

                        <div class="linkUserIcon">
                            <img src="../img/magnify.svg" alt="User Icon" class="iconMagnify openModal">
                        </div>

                    </div>
                </ul>
            </nav>
        </div>

    </header>

    <!-- Profile Container -->

    <main class="containerProfile">








    </main>

    <footer class="footerContainer">

        <!-- Section Columns -->

        <section class="sectionColumns">
            <div class="column">
                <h3 class="titleColumn">Social Networks</h3>
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="https://www.twitter.com" target="_blank" class="item">
                                <img src="../img/twitter.svg" alt="" class="icon">
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img src="../img/instagram.svg" alt="" class="icon">
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank" class="item">
                                <img src="../img/facebook.svg" alt="" class="icon">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" target="_blank" class="item">
                                <img src="../img/linkedin.svg" alt="" class="icon">
                                Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com" target="_blank" class="item">
                                <img src="../img/pinterest.svg" alt="" class="icon">
                                Pinterest
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" target="_blank" class="item">
                                <img src="../img/youtube.svg" alt="" class="icon">
                                Youtube
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <h3 class="titleColumn">About us</h3>
                <nav class="menu">
                    <ul>
                        <li><a href="" class="item">Home</a></li>
                        <li><a href="" class="item">Create</a></li>
                        <li><a href="" class="item">Explore</a></li>
                        <li><a href="" class="item">Creative Fiels</a></li>
                        <li><a href="" class="item">Support</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <h3 class="titleColumn">Work</h3>
                <nav class="menu">
                    <ul>
                        <li><a href="" class="item">Opportunities</a></li>
                        <li><a href="" class="item">My Services</a></li>
                        <li><a href="" class="item">Career</a></li>
                        <li><a href="" class="item">Collaborations</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <h3 class="titleColumn">Resources</h3>
                <nav class="menu">
                    <ul>
                        <li><a href="" class="item">Editor</a></li>
                        <li><a href="" class="item">Templates</a></li>
                        <li><a href="" class="item">Management</a></li>
                        <li><a href="" class="item">Export</a></li>
                        <li><a href="" class="item">Feedback</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <a href="#" class="imagotipoIcon">
                    <img src="../img/imagotipoMediumWhiteBgTransparent.png" alt="Imagotipo" class="imagotipo">
                </a>
                <form action="" class="newsletter">
                    <div class="titles">
                        <h3 class="title">Newsletter</h3>
                        <h4 class="subtitle">Subscribe now for design tips and exclusive features!</h4>
                    </div>
                    <div class="subscribeItems">
                        <label for="subscribe">
                            <input type="text" id="subscribe" placeholder="Email">
                        </label>
                        <button type="submit" class="ctaSubscribe" >Subscribe</button>
                    </div>
                </form>
                <div class="images">
                    <p class="paragraph">Download now</p>
                    <div class="downloadAppBlock">
                        <a href="https://play.google.com/store/games?device=windows" class="itemDownload" target="_blank">
                            <img src="../img/googlePlay.png" alt="Goglep Play" class="downloadApp">
                        </a>
                        <a href="https://www.apple.com/app-store/" class="itemDownload" target="_blank">
                            <img src="../img/appStore.png" alt="App Store" class="downloadApp">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Row -->

        <section class="sectionRow">
            <a href="#" class="imagotipoIcon">
                <img src="../img/imagotipoSmallBlue.png" alt="Imagotipo" class="imagotipo">
            </a>
            <div class="copyRight">
                <p>Roller Seed All rights reserved © 2025</p>
                <div class="privacyTerms">
                    <a href="#" class="legalConditions">Privacy</a>
                    <a href="#" class="legalConditions">Terms</a>
                </div>
            </div>
        </section>

    </footer>

    <!-- 🔹 Firebase SDK y configuración 🔹 -->

    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore-compat.js"></script>
    <script src="javascript/firebase-config.js"></script>
    <script src="../javascript/main.js"></script>

    <!-- JS -->

    <script src="../javascript/register.js"></script>
    <script src="../javascript/login.js"></script>
    <script src="../javascript/search.js"></script>
    <script src="../javascript/heroSection.js"></script>
    <script src="../javascript/options.js"></script>
    <script src="../javascript/tags.js"></script>
    <script src="../javascript/plans.js"></script>

</body>
</html>
