
/* Container */

/* Hero Section */

.heroSection{
    width:100%;
    height:auto;
    background-image: url("../../img/backgroundHeroSection.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--black);
    margin:50px auto 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .heroSectionContainer{
        /* width:85%; */
        max-width: 1300px;
        height:100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:0px auto 100px;
        .head{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap:15px;
            .slogan{
                color:var(--blueThree);
                background-color:var(--backgroundOne);
                font-size:var(--xLargeSize);
                font-weight:var(--semiboldWeight);
                padding: 5px;
                border-radius: 5px;
                transform:rotate(-4deg) translateY(15px);
            }
            .title{
                color:var(--white);
                font-size:var(--xxLargeSize);
                font-weight:var(--boldWeight);
            }
            .subtitle{
                color:var(--toneThree);
                font-size:var(--largeSize);
                font-weight:var(--semiboldWeight);
            }
            .ctas{
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:10px;
                .login,
                .register{
                    display: flex;
                    width: 180px;
                    height: 50px;
                    padding: 15px 25px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color:var(--black);
                    font-size:var(--mediumSize);
                    font-weight:var(--semiboldWeight);
                    flex-shrink: 0;
                    text-decoration: none;
                    border-radius: 10px;
                    position:relative;
                    overflow: hidden;
                    background-color:var(--white);
                    transform:scale(100%);
                    transition: transform 0.3s ease-in-out;
                    &:hover{
                        transform:scale(102%);
                    }
                    &:after{
                        content:"";
                        width: 100%;
                        height: 100%;
                        position:absolute;
                        top:0;
                        left:0;
                        background-color:purple;
                        opacity:0;
                        transform:translate(-100%);
                        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out ;
                    }
                    &:hover:after{
                        content:" Login ❯";
                        color:var(--white);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color:var(--toneFive);
                        transform:translate(0%);
                        opacity:1;
                    }
                }
                .register{
                    color:var(--white);
                    background-color:var(--blueFour);
                    &:hover{
                        transform:scale(102%);
                    }
                    &:after{
                        content:"";
                        width: 100%;
                        height: 100%;
                        position:absolute;
                        top:0;
                        left:0;
                        opacity:0;
                        transform:translate(-100%);
                        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out ;
                    }
                    &:hover:after{
                        content:"Register ❯";
                        color:var(--white);
                        opacity:1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color:var(--blueThree);
                        transform:translate(0%);
                    }
                }
            }
        }
        .bannerContainer {
            width: 100%;
            height: auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .bannerBlock {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                transition: transform 0.5s ease-in-out;
                .banner {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 auto;
                    flex-grow: 100%;
                    .imageHeroSection {
                        width:auto;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
            .navArrows {
                display: flex;
                justify-content: space-between;
                gap:10px;
                .arrow{
                    background-color:var(--black);
                    color: var(--white);
                    border: none;
                    padding: 0px 15px;
                    font-size: 35px;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
    }
}


















