
/* Container */

/* Plan Section */

.planSection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    .planContainer{
        max-width: 1300px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2fr 1fr);
        gap: 30px;
        justify-items: center;
        align-items: flex-start;
        .titlesBlock{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:30px;
        }
        .planExplanationBlock{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap:30px;
            .choicePlan{
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin:auto;
                border-bottom: 1px solid var(--toneFour);
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap:0;
                    li{
                        list-style: none;
                        .itemPlan{
                            padding:15px 35px;
                            color: var(--toneThree);
                            font-size: var(--largeSize);
                            font-weight: var(--semiboldWeight);
                            background-color: var(--toneNine);
                            transition:background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                            &:hover{
                                color: var(--toneNine);
                                background-color: var(--toneThree);
                            }
                        }
                    }
                }
            }
            .planSlider{
                width:100%;
                height:100%;
                display: flex;
                /* flex-direction: column; */
                justify-content: center;
                align-items: center;
                gap:30px;
                .planCardMonth,
                .planCardAnnual{
                    width:100%;
                    height:100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:20px;
                    .planMonth,
                    .planAnnual{
                        width:100%;
                        height:100%;
                        padding-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap:20px;
                        background-image:url("../../img/backgroundPlans.png");
                        background-repeat: no-repeat;
                        background-position:100%;
                        background-size: cover;
                        border-radius: 20px;
                        box-shadow: 0 4px 16px 2px var(--toneTwo);
                        overflow:hidden;
                        padding:20px;
                        .headerTitle{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap:5px;
                            .features{
                                width:fit-content;
                                color: var(--toneThree);
                                font-size: var(--lightSize);
                                font-weight: var(--semiboldWeight);
                                padding:5px 20px;
                                background-color:var(--blueThree);
                                text-align: center;
                                border-radius:5px;
                            }
                            .titleCardExplanation{
                                color: var(--toneSeven);
                                font-size: var(--xLargeSize);
                                font-weight: var(--semiboldWeight);
                                .time{
                                    color: var(--toneSeven);
                                    font-size: var(--regularSize);
                                    font-weight: var(--semiboldWeight);
                                }
                            }
                        }
                        .bodyFeaturesMannual{
                            width:100%;
                            padding-top:20px;
                            padding-bottom:20px;
                            border-top: 0.5px solid var(--toneFive);
                            border-bottom: 0.5px solid var(--toneFive);
                            .features{
                                color: var(--toneSeven);
                                font-size: var(--regularSize);
                                font-weight: var(--semiboldWeight);
                                .check{
                                    color: var(--blueThree);
                                }
                            }
                        }
                        .footerCard{
                            .features{
                                color: var(--toneSeven);
                                font-size: var(--lightSize);
                                font-weight: var(--semiboldWeight);
                            }
                        }
                    }
                }
            }
        }
        .planCardBlock{
            height:auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position:relative;
            .kindPlans{
                width:100%;
                height:auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap:0px;
                position:sticky;
                top:50px;
                z-index: 1;
                background-color: var(--toneTen);
                .headPlan{
                    width:100%;
                    overflow: hidden;
                    position: relative;
                    .titleCard{
                        width:100%;
                        height:auto;
                        padding:15px;
                        color: var(--toneFour);
                        font-size: var(--xLargeSize);
                        font-weight: var(--semiboldWeight);
                        text-align: center;
                    }
                    .planImage{
                        width:40px;
                        height:auto;
                        position: absolute;
                        top:0;
                        right:0;
                    }
                }
            }
            .planBlock{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap:30px;
                .planCard{
                    width:100%;
                    height:auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap:20px;
                    padding:20px;
                    .headerCard{
                        width:100%;
                        height:auto;
                        .price{
                            color: var(--blueThree);
                            font-size: var(--xxxLargeSize);
                            font-weight: var(--semiboldWeight);
                            text-align: center;
                            .monthFee{
                                color: var(--blueThree);
                                font-size: var(--mediumSize);
                                font-weight: var(--semiboldWeight);
                            }
                        }
                    }
                    .bodyCard{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap:15px;
                        border-top: 1px solid var(--toneFour);
                        border-bottom: 1px solid var(--toneFour);
                        padding-top:20px;
                        padding-bottom:20px;
                        .featuresItem{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-items: center;
                            gap:20px;
                            .featureIcon{
                                width:auto;
                                height:auto;
                            }
                            .features{
                                color: var(--toneSix);
                                font-size: var(--regularSize);
                                font-weight: var(--semiboldWeight);
                            }
                        }
                    }
                    .footerCard{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap:15px;
                        .planCta{
                            width:100%;
                            color: var(--blueThree);
                            font-size: var(--largeSize);
                            font-weight: var(--semiboldWeight);
                            text-decoration:none;
                            gap:0px;
                            text-align:center;
                            transition: color 0.3s ease-in-out;
                            &:hover{
                                color: var(--blueFour);
                            }
                            .arrowTopRight{
                                width:auto;
                                height:auto;
                                transform:translate(0px, 5px) scale(85%);
                                transition:transform 0.3s ease-in-out;
                            }
                            &:hover .arrowTopRight{
                                transform:translate(5px, 2px) scale(100%);
                            }
                        }
                        .messagePlan{
                            color: var(--toneFive);
                            font-size: var(--lightSize);
                            font-weight: var(--semiboldWeight);
                        }
                    }
                }
            }
        }
    }
}


