
/* Container */

/* Tag Section */

.tagSection{
    width:100%;
    height:auto;
    /* background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: var(--black);
    margin:150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .arrowRightCircle{
        fill: red;
        background-color: transparent;
    }
    .tagSectionContainer{
        /* width:95%; */
        max-width: 1300px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
        margin:100px auto ;
        .tagHead{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap:15px;
            .tagSlogan{
                color:var(--blueThree);
                background-color:var(--backgroundOne);
                font-size:var(--xLargeSize);
                font-weight:var(--semiboldWeight);
                padding: 5px;
                border-radius: 5px;
                transform:rotate(-4deg) translateY(15px);
            }
            .title{
                color:var(--white);
                font-size:var(--xxLargeSize);
                font-weight:var(--mediumWeight);
            }
            .subtitle{
                color:var(--toneThree);
                font-size:var(--largeSize);
                font-weight:var(--mediumWeight);
            }
            .ctas{
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:10px;
                .login,
                .register{
                    display: flex;
                    width: 180px;
                    height: 50px;
                    padding: 15px 25px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color:var(--black);
                    font-size:var(--mediumSize);
                    font-weight:var(--semiboldWeight);
                    flex-shrink: 0;
                    text-decoration: none;
                    border-radius: 10px;
                    background-color:var(--white);
                    transform:scale(100%);
                    transition: transform 0.3s ease-in-out;
                    &:hover{
                        color:var(--white);
                        transform:scale(105%);
                        background-color:var(--toneFive);
                    }
                    &:hover:after{
                        content:"â¯";
                    }
                }
                .register{
                    color:var(--white);
                    background-color:var(--blueFour);
                    &:hover{
                        color:var(--black);
                        transform:scale(105%);
                        background-color:var(--white);
                    }
                }
            }
        }
        .tagSlider {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .tagSliderBlock {
                width:100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                gap:20px ;
                padding:25px;
                transition: transform 0.5s ease-in-out;
                .tagBanner {
                    width:auto;
                    height: auto;
                    border-radius:20px;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        background-color:var(--varietyOne);

                    }
                    .div{
                        width:280px;
                        height:480px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        background-color: var(--toneTen);
                        border-radius: 20px;
                        color:var(--);
                        font-size:var(--);
                        font-weight:var(--);
                        padding:15px;
                        position:relative;
                        overflow: hidden;
                        .spot{
                            position:absolute;
                            top:-35%;
                            left:-55%;
                        }
                        .headerImages{
                            width:90%;
                            position:absolute;
                            top:0%;
                            left:10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .bodyInfo{
                            margin-top:100px;
                            z-index: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap:10px;
                            .area{
                                /* color:var(--toneTwo); */
                                font-size:var(--lightSize);
                                font-weight:var(--regularWeight);
                                border-radius: 5px;
                                padding:5px;
                                transform:rotate(-4deg);
                            }
                            .areaOne{
                                color:var(--colorVarietyOne);
                                background-color:var(--varietyOne);
                            }
                            .areaTwo{
                                color:var(--colorVarietyTwo);
                                background-color:var(--varietyTwo);
                            }
                            .areaThree{
                                color:var(--colorVarietyThree);
                                background-color:var(--varietyThree);
                            }
                            .areaFour{
                                color:var(--colorVarietyFour);
                                background-color:var(--varietyFour);
                            }
                            .areaFive{
                                color:var(--colorVarietyFive);
                                background-color:var(--varietyFive);
                            }
                            .areaSix{
                                color:var(--colorVarietySix);
                                background-color:var(--varietySix);
                            }
                            .areaSeven{
                                color:var(--colorVarietySeven);
                                background-color:var(--varietySeven);
                            }
                            .areaEight{
                                color:var(--colorVarietyEight);
                                background-color:var(--varietyEight);
                            }
                            .titleCard{
                                color:var(--toneThree);
                                font-size:var(--largeSize);
                                font-weight:var(--semiboldWeight);
                            }
                            .paragraph{
                                color:var(--toneFive);
                                font-size:var(--regularSize);
                                font-weight:var(--mediumWeight);
                            }
                            .iconItems{
                                width:100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap:10px;
                                .linkIcon{
                                    .iconItem{
                                        width:20px;
                                    }
                                }
                            }
                            /* .markArea{
                                font-size:var(--smallSize);
                                font-weight:var(--mediumWeight);
                                padding:8px 25px;
                                border-radius: 10px;
                            }
                            .markAreaOne{
                                color:var(--colorVarietyOne);
                                background-color:var(--varietyOne) ;
                            }
                            .markAreaTwo{
                                color:var(--colorVarietyTwo);
                                background-color:var(--varietyTwo) ;
                            }
                            .markAreaThree{
                                color:var(--colorVarietyThree);
                                background-color:var(--varietyThree) ;
                            }
                            .markAreaFour{
                                color:var(--colorVarietyFour);
                                background-color:var(--varietyFour) ;
                            }
                            .markAreaFive{
                                color:var(--colorVarietyFive);
                                background-color:var(--varietyFive) ;
                            }
                            .markAreaSix{
                                color:var(--colorVarietySix);
                                background-color:var(--varietySix) ;
                            }
                            .markAreaSeven{
                                color:var(--colorVarietySeven);
                                background-color:var(--varietySeven) ;
                            }
                            .markAreaEight{
                                color:var(--colorVarietyEight);
                                background-color:var(--varietyEight) ;
                            }*/
                        }
                        .simbolBackground{
                            position:absolute;
                            bottom:0%;
                            right:-50%;
                        }
                        .footerCard{
                            width:100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            gap:10px;
                            margin-bottom: 10px;
                            .bunchPeople{
                                width:auto;
                            }
                            .ctaTag{
                                width:auto;
                                display: flex;
                                flex-direction: row;
                                justify-content:flex-end;
                                align-items: center;
                                gap:5px;
                                font-size:var(--regularSize);
                                font-weight:var(--mediumWeight);
                                text-decoration: none;
                                z-index: 1;
                                .arrowRightCircle{
                                    transform: translate(0px);
                                    transition:transform 0.3s ease-in-out;
                                }
                                &:hover > .arrowRightCircle{
                                    transform: translate(5px);
                                }
                            }
                            .ctaTagOne{
                                color:var(--colorVarietyOne);
                            }
                            .ctaTagTwo{
                                color:var(--colorVarietyTwo);
                            }
                            .ctaTagThree{
                                color:var(--colorVarietyThree);
                            }
                            .ctaTagFour{
                                color:var(--colorVarietyFour);
                            }
                            .ctaTagFive{
                                color:var(--colorVarietyFive);
                            }
                            .ctaTagSix{
                                color:var(--colorVarietySix);
                            }
                            .ctaTagSeven{
                                color:var(--colorVarietySeven);
                            }
                            .ctaTagEight{
                                color:var(--colorVarietyEight);
                            }
                        }
                        .imageTagSection {
                            width: auto;
                            height: auto;
                            object-fit: cover;
                            border-radius: 20px;
                        }
                    }

                }
            }
            .navArrows {
                width:100%;
                display: flex;
                justify-content: flex-end;
                gap:10px;
                .arrow{
                    background-color:var(--black);
                    color: var(--white);
                    border: none;
                    padding: 0px 15px;
                    font-size: 35px;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
    }
}
