
/* Container */

/* Wrap Section */

.wrapSection{
    width:100%;
    height:auto;
    margin:150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    .wrappedContainer{
        max-width:1300px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin:auto;
        position:relative;
        top:0px;
        .wrappedBlock{
            width:100%;
            height:550px;
            /* height:calc(100vh - 120px); */
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top:0px;
            /* padding:10px; */
            overflow: hidden;
            border-radius: 25px;
            border:3px solid white;
            background-color: var(--black);
            .imagotipo{
                width:150px;
                position:absolute;
                top:30px;
                left:-15px;
                transform:rotate(-30deg);
            }
            .wrapCard{
                width:85%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:20px;
                .imagesBackground{
                    width:100%;
                    height:450px;
                    padding:10px;
                    align-self: self-start;
                    border-radius: 20px;
                }
                .wrapInfo{
                    width:100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap:10px;
                    overflow: hidden;
                    background-color: rgba(41, 41, 41, 0.15);
                    backdrop-filter: blur(10px);
                    border-radius: 20px;
                    padding: 30px;
                    /* box-shadow: 0 0 16px 8px rgb(0, 0, 0); */
                    .wrapParagraph{
                        width:100%;
                        text-align: left;
                    }
                    .wrapParagraph{
                        width:max-content;
                        align-self: left;
                        color:var(--colorVarietyOne);
                        font-size:var(--xMediumSize);
                        font-weight:var(--mediumWeight);
                        transform:rotate(-4deg) ;
                        background-color: var(--varietyOne);
                        padding: 5px;
                        border-radius: 5px;
                    }
                    .blockInfo{
                        width:100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap:20px;
                        .wrapTitle{
                            width:100%;
                            align-self: left;
                            color:var(--toneTwo);
                            font-size:var(--xLargeSize);
                            font-weight:var(--semiboldWeight);
                        }
                        .lorem{
                            width:100%;
                            align-self: left;
                            color:var(--toneFour);
                            font-size:var(--mediumSize);
                            font-weight:var(--regularWeight);
                        }
                    }
                    .wrapCta{
                        width:max-content;
                        align-self: left;
                        color:var(--toneOne);
                        font-size:var(--mediumSize);
                        font-weight:var(--semiboldWeight);
                        margin-top:10px;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap:5px;
                        transition: color 0.3s ease-in-out;
                        .arrowTopRight{
                            width:auto;
                            height:auto;
                            transform:translate(0px, 0px);
                            transition:transform 0.3s ease-in-out;
                        }
                        &:hover .arrowTopRight{
                            transform:translate(5px, -2px);
                        }
                        &:hover{
                            color:var(--colorVarietyOne);
                        }
                        &:hover ~ .squareBunch{
                            opacity:1;
                            visibility:visible;
                            transform:scale(100%);
                        }
                    }
                    .squareBunch{
                        align-self:self-end;
                        opacity:0;
                        visibility:hidden;
                        transform-origin: bottom right;
                        transform:scale(0%);
                        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
                    }
                }
            }
        }
        .wrappedBlockOne{
            top:55px;
            left:0;
            z-index:1;
            /* background-color: var(--colorVarietyOne); */
            background-image: url("../../img/backgroundWrap1.png");
        }
        .wrappedBlockTwo{
            top:70px;
            left:0;
            z-index:2;
            /* background-color: var(--colorVarietySix); */
            background-image: url("../../img/backgroundWrap2.png");
        }
        .wrappedBlockThree{
            top:85px;
            left:0;
            z-index:3;
            /* background-color: var(--colorVarietyFour); */

            background-image: url("../../img/backgroundWrap3.png");
        }
        .wrappedBlockFour{
            top:100px;
            left:0;
            z-index:4;
            /* background-color: var(--colorVarietySeven); */

            background-image: url("../../img/backgroundWrap4.png");
        }
        .wrappedBlockFive{
            top:115px;
            left:0;
            z-index:5;
            /* background-color: var(--colorVarietyEight); */

            background-image: url("../../img/backgroundWrap5.png");
        }
    }
}

